:host {
  position: relative;
}

dialog {
  border: none;
  display: none;
  width: 100%;
  padding: 0;
  position: absolute;
}

dialog[open] {
  display: block;
}

.dropdown-button {
  background: white;
  border: none;
  border-bottom: 1px solid #CDD1DB;
  border-radius: 4px 4px 0px 0px;
  cursor: pointer;
  padding: 1.25rem 1rem;
}

.dropdown-button:hover {
  border-bottom: 1px solid #868FA2;
}