@import url('https://cdn.digitaldesign.scania.com/fonts/scania-sans/1.0.0/scania-sans.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.Container {
  background: #F5F5F5;
  height: 100vh;
  padding: 2.5rem 0 0 2.5rem;
}

.DropdownMenu {
  display: flex;
}

.TitleContainer {
  background: #041E42;
  color: #FFFFFF;
}

.Title {
  margin: 0;
  padding: 1.5rem;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

.SubTitleContainer {
  background: #FFFFFF;
  color: #041E42;
}

.SubTitle {
  margin: 0;
  padding: 1.375rem 2.5rem;
  font-size: 24px;
  line-height: 24px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

.DataTable {
  max-width: 768px;
  padding-top: 1.5rem;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table td, table th {
  border-bottom: 1px solid #E2E2E4;
  padding: 1rem;
  color: #171719;
}

table tr {
  background-color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

table tr:hover {background-color: #E7E9EE;}

table th {
  text-align: left;
  background-color: #E0E2EB;
  font-family: "Scania Sans Semi Condensed";
  font-weight: 700;
  font-size: 14px;
}

.Reset {
  margin: 0 1.5rem;
  padding: 0;
  border: none;
  text-decoration: underline;
  background: #F5F5F5;
  color: #2058A8;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 24px;
}