:host {
  --background: var(--button-background, white);
  --background-hover: var(--button-background-hover, #E0E2EB);
  --color: var(--button-color, black);
}

button {
  background: var(--background);
  border: none;
  color: var(--color);
  cursor: pointer;
  padding: 0.5ex 1em;
}

button:hover {
  --background: var(--background-hover);
}
