:host {
  --background: var(--button-background, white);
  --background-hover: var(--button-background-hover, #EDEFF3);
  --color: var(--button-color, black);
}

button {
  background: var(--background);
  color: var(--color);
  cursor: pointer;
  padding: 1rem;
  width: 100%;
  text-align: left;
  border: 1px solid #DBDFE6;
}

button:hover {
  --background: var(--background-hover);
}
