:host {
  display: block;
}

menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

slot[name="label"] {
  align-items: center;
  display: flex;
  color: #56657A;
}

slot[name="label"] svg {
  fill: #56657A;
  block-size: 1rem;
  inline-size: 0.666rem;
  margin-inline-start: 4.125rem;
}

button {
  background: #FFFFFF;
  color: var(--color);
  cursor: pointer;
  padding: 1rem;
  width: 100%;
  text-align: left;
  border: 1px solid #DBDFE6;
}

button:hover {
  background: #EDEFF3;
}